@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700|PT+Sans:400,700&display=swap&subset=cyrillic');
/*font-family: 'PT Sans', sans-serif;
font-family: 'Cuprum', sans-serif;*/
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;

	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: black;

	background-color: white;
}
a {	
	text-decoration: none;
	color: black;
}
ul {
	list-style: none;
}
.visually-hidden {
	display: none;
}
.popap {
	display: none;
}
/*header*/
header {
	/*background-color: silver;*/
	background-color: #f1f5f7;
	width: 100%;
	height: 320px;
}
.header-top-wrapper {
	background-color: #293449;
	width: 100%;
	height: 42px;
}
.header-top {
	font-size: 17px;
	line-height: 18px;
	color: white;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 940px;
	height: 42px;
	margin: 0 auto;
}
.header-top__nav-list {
	display: flex;
	margin: 0;
	padding: 0;
}
.header-top__nav-list li {
	margin: 0;
	padding: 0;
}
.header-top__nav-list a {
	display: block;
	width: 150px;
	height: 42px;
	padding: 11px 20px 12px;
	margin: 0;
	vertical-align: middle;
	box-sizing: border-box;
}
.header-top a:hover,
.header-top a:focus{
	color: white;
	background-color: #212a3a;
}
.header-top a:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}
.header-top .order {
	background-color: #63a63e;
}
.header-top .order:hover,
.header-top .order:focus {
	background-color: #5fbb2d;
}
.header-top .order:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}
.header-top .basket {
	background-color: #ee3643;
}
a.logo {
	display: block;
	width: 220px;
	height: 47px;
	background-image: url("../img/common/logo.jpg");
}
a.logo:hover,
a.logo:focus {
	background-image: url("../img/common/logo-hover.jpg");
}
a.logo:active {
	background-image: url("../img/common/logo-active.jpg");
}
header .container {
	display: flex;
	flex-direction: column;
	width: 940px;
	margin: 0 auto;
}
.header-middle {
	font-size: 21px;
	line-height: 21px;
	color: black;

	display: flex;
	align-items: flex-start;
	margin: 0;
	padding: 47px 0;
}
.header-middle__text {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #EE3643;
	width: 200px;
	margin: 0;
	margin-left: 52px;
}
.header-middle__contacts {
	display: flex;
	flex-direction: column;

	width: 270px;
	margin: 0;
	margin-left: 42px;
	padding: 0;
}
.header-middle__phone {
	font-size: 21px;
	line-height: 21px;
	color: #EE3643;
}
.header-middle__address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;

}
.header-middle__user-nav {
	display: flex;
	width: 281px;
	margin: 0;
	margin-left: auto;
	padding: 0;
}
.header-middle button {
	background-color: white;
	height: 45px;
	border: none;
	padding: 0;
}
.log-in {
	width: 121px;
}
.registration {
	width: 150px;
	margin-left: 10px;
}
.header-middle button:hover,
.header-middle button:focus {
	color: rgb(238, 54, 67);
}
.header-middle button:active {
	opacity: 0.3;
}
.person-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-left: auto;
}
.header-middle__person {
	background-color: white;
	width: 300px;
}
.header-middle__person-info {
	display: flex;
	margin: 0;
	padding: 0;
}
.header-middle__person-info a {
	font-size: 16px;
	line-height: 18px;
  color: #32425C;
  text-decoration: underline;
}
.header-middle__person-info li {
	margin: 0;
	padding: 0;
}
.header-middle__person-info li:last-child {
	padding-left:20px;
}
.header-middle__person-info a:hover,
.header-middle__person-info a:focus {
  	color: #EE3643;
}
.header-middle__person-info a:active {
  	opacity: 0.3;
}

.header-nav {
	font-size: 17px;
	line-height: 17px;
	color: white;
	margin: 0;
	padding: 0 50px;

	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;

	height: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}
.header-top a,
.header-nav a {
	color: white;
}
.header-nav a {
	display: block;
	color: white;
	padding: 22px 20px 20px; 
}
.header-nav a:hover,
.header-nav a:focus {
	background-color: #293449;
}
.header-nav a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}


/*header end*/

/*main*/
.company-contacts.container {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 79px auto 86px;
}
.company {
	width: 500px;
	margin: 0;
	padding: 0;
}
.contacts {
	width: 300px;
	margin: 0;
	padding: 0;
}
.company h2,
.contacts h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
.company p,
.contacts p {
	font-family: 'PT Sans', sans-serif; 
	font-size: 13px;
	line-height: 24px;
}
.company li {
	font-size: 18px;
	line-height: 19px;
}
.company a,
.contacts button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: white;

	background-color: #ee3643;
}
/*catalog*/
.catalog.container {
	/*display: flex;*/
	width: 940px;
	margin: 0 auto;
}
.breadcrumbs {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;

	padding: 0;
	display: flex;
}
.breadcrumbs li {
	margin: 0;
	padding: 0;
	padding-left: 20px;
}
.breadcrumbs a {
	margin: 0;
	padding: 0;
}
.catalog .page-title {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;

	margin: 0;
	padding: 30px 33px;

}
.catalog-columns {
	display: flex;
	justify-content: space-between;
}
.filters {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	width: 220px;
}
.filters legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}
.filters button {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	background-color: #ffffff;
}
.catalog-section {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;

	width: 700px;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
.catalog-item {
	border: solid 1px #e5e5e5;

	width: 220px;
	margin-bottom: 20px;
	margin-right: 20px;
}
.catalog-item:nth-child(3n) {
	margin-right: 0;
}
.catalog-item:hover,
.catalog-item:focus{
	border: none;
	box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}
.catalog-item h3 {
	margin: 0;
	font-size: 18px;
	line-height: 20px;
}
.catalog-item .old-price {
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration-line: line-through;
	color: #999999;
}
.catalog-item .price {
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
}
.btn-buy {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
	border-radius: 2px;
	border: none;
}
.btn-buy:hover,
.btn-buy:focus {
	background-color: #5FBB2D;
}
.btn-buy:active {
	background-color: #518534;
	box-shadow: none;
}
.btn-bookmark {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #32425C;
	background-color: #ffffff;
	border: 3px solid #63A63E;
	border-radius: 2px;
}
.btn-bookmark:hover,
.btn-bookmark:focus {
	border: 3px solid #32425C;
}
.btn-bookmark:active {
	border: 3px solid #32425C;
	opacity: 0.3;
}



/*catalog end*/
/*main end*/

/*footer*/
footer .container {
	display: flex;
	width: 940px;
	margin: 0 auto;
}
.footer-top .container {
	flex-direction: column;
}
.footer-top {
	font-size: 18px;
	line-height: 24px;

	background-color: #32425c;
}

.footer-top p {
	color: #F3F7F9;
}
.footer-top__nav-website,
.footer-top__nav-goods {
	display: flex;
	justify-content: space-between;
}
.footer-site-nav-list,
.footer-nav-goods-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: 55px;
}
.footer-nav-goods-list {
	align-items: flex-start;
}
.footer-site-nav-list a,
.footer-nav-goods-list a {
	margin-left: 55px;
}
.footer-top__nav-website a {
	color: white;
}
.footer-top__nav-goods a {
	color: #FFD180;
}
.footer-top__nav-goods p {
	width: 325px;
}
.footer-top__nav-website a:hover,
.footer-top__nav-website a:focus,
.footer-top__nav-goods a:hover,
.footer-top__nav-goods a:focus {
	text-decoration: underline;
}
.footer-top__nav-website a:active,
.footer-top__nav-goods a:active {
	text-decoration: none;
	opacity: 0.5;
}
.footer-bottom {
	font-size: 16px;
	line-height: 18px;
	color: white;

	background-color: #293449;
}
.footer-bottom .container {
	display: flex;
	justify-content: space-between;
}
.footer-bottom__copyright {
	width: 230px;
}
.footer-bottom__social-networks-list {
	width: 134px;
	margin-left: 160px;
	padding: 0;
}
.footer-bottom__feedback {
	margin-left: 117px;
	width: 140px;
}
.footer-bottom__developer {
	margin-left: auto;
	width: 96px;
}
.footer-bottom_yellow {
	color: #FFD180;
}
.footer-bottom_yellow:hover,
.footer-bottom_yellow:focus {
	text-decoration: underline;
}
.footer-bottom_yellow:active {
	text-decoration: none;
	color: #ee3643;
}
/*footer end*/